/*cores */
* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}


.root {
    -fx-background-color: -fx-primary;
}
/*
.glyph-icon
{
    -fx-fill: -fx-primarytext;
     -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-primary;
}
*/
.button{
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}

.button:hover, .button:focused{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field
{
	 -fx-border-color: -fx-secondary;
	 -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}


.header-image{
	-fx-display:block;
	-fx-width:100%;
	-fx-height:auto;
}
.image {
	-fx-display:block;
	-fx-width:100%;
	-fx-height:auto;
}
.image:hover {
	-fx-opacity:0.7;
}

/*Login Screen Specific*/


.wrong-credentials
{
    -jfx-unfocus-color: -fx-red;
    -jfx-focus-color: -fx-red;
}


.list-menu{
	 -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-secondary;
    -fx-border-color: -fx-secondary;
    -fx-font-size: 12pt;
}


.list-menu:hover{
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primary;
}

.list-view .list-cell:even{
	 -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-font-size: 12pt;
}
.list-view .list-cell:odd{
	 -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-font-size: 12pt;
}
.list-view .list-cell:focused {
	 -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-font-size: 12pt;
}
.text-area
{
	 -fx-border-color: -fx-secondary;
	 -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}
.text-area .content {
    -fx-background-color: -fx-primary;
}
/*.anchor {   ------------old
	
 -fx-background-image: url("intersection.png");
 background-color: #C2C2D6;
 }*/